.form-text {
  font-size: 16px;
  margin-bottom: 1rem;
  color: #333;
  word-break: break-all;

  &.q-mb-none {
    margin-bottom: 0;
  }
}

.form-text span {
  display: block;
  font-size: 12px;
  color: #b5b5b5;
}

.form-text span + span {
  font-size: inherit;
  text-transform: none;
}

.q-badge {
  font-size: 12px;
  // padding: 7px 21px;
  // min-width: 60px;
  &.success {
    background: rgba($positive, 0.14);
    color: $positive;
  }
  &.nagative {
    background: rgba($negative, 0.14);
    color: $negative;
  }
  &.warning {
    background: rgba($warning, 0.14);
    color: $warning;
  }
}

// .q-btn .disabled,
// .disabled *,
// [disabled],
// [disabled] * {
//   cursor: default !important;
// }

// .pac-container {
//   z-index: 10000 !important;
// }

// .child-slide {
//   width: 100%;
//   position: absolute;
//   transition: all 0.3s;
// }
// .overlap-left-enter,
// .overlap-left-enter-active {
//   opacity: 0;
// }
// .overlap-left-enter-to {
//   opacity: 1;
// }
// .overlap-left-leave-active {
//   transform: translate(100%, 0);
// }
// .overlap-right-leave-active {
//   z-index: -1;
//   opacity: 1;
//   transform: translate(-30px, 0);
// }
// .overlap-right-enter {
//   transform: translate(100%, 0);
// }

// @keyframes ftxZoomIn {
//   from {
//     opacity: 0;
//     -webkit-transform: scale3d(0.95, 0.95, 0.95);
//     transform: scale3d(0.95, 0.95, 0.95);
//   }

//   50% {
//     opacity: 1;
//     -webkit-transform: scale3d(1, 1, 1);
//     transform: scale3d(1, 1, 1);
//   }
// }

// .ftxZoomIn {
//   -webkit-animation-name: ftxZoomIn;
//   animation-name: ftxZoomIn;
//   -webkit-animation-duration: 0.91s;
//   animation-duration: 0.91s;
//   -webkit-animation-timing-function: linear;
//   animation-timing-function: linear;
// }

// @keyframes ftxZoomOut {
//   from {
//     opacity: 1;
//   }

//   50% {
//     opacity: 0;
//     -webkit-transform: scale3d(0.95, 0.95, 0.95);
//     transform: scale3d(0.95, 0.95, 0.95);
//   }

//   to {
//     opacity: 0;
//   }
// }

// .ftxZoomOut {
//   -webkit-animation-name: ftxZoomOut;
//   animation-name: ftxZoomOut;
//   -webkit-animation-duration: 0.51s;
//   animation-duration: 0.51s;
//   -webkit-animation-timing-function: linear;
//   animation-timing-function: linear;
// }

// p.type-writing {
//   border-right: solid 3px #000;
//   white-space: nowrap;
//   overflow: hidden;
//   font-family: 'Source Code Pro', monospace;
//   font-size: 28px;
//   color: rgba(0, 0, 0, 0.7);
//   opacity: 0;
//   -moz-user-select: none;
//   -webkit-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -o-user-select: none;
// }

// /* Animation */
// p.type-writing {
//   -webkit-animation: animated-text 1s steps(29, end) 0s 1 normal both,
//     animated-cursor 600ms steps(29, end) infinite, animated-opacity 2s linear;
//   animation: animated-text 1s steps(29, end) 0s 1 normal both,
//     animated-cursor 600ms steps(29, end) infinite, animated-opacity 2s linear;
// }
// .body--dark {
//   p.type-writing {
//     -webkit-animation: animated-text 1s steps(29, end) 0s 1 normal both,
//       animated-cursor-darkmode 600ms steps(29, end) infinite,
//       animated-opacity 2s linear;
//     animation: animated-text 1s steps(29, end) 0s 1 normal both,
//       animated-cursor-darkmode 600ms steps(29, end) infinite,
//       animated-opacity 2s linear;
//   }
// }

// /* text animation */

// @keyframes animated-text {
//   from {
//     width: 0;
//   }
//   to {
//     width: 160px;
//   }
// }
// @keyframes animated-opacity {
//   from {
//     opacity: 0;
//   }
//   20% {
//     opacity: 0.5;
//   }
//   30% {
//     opacity: 1;
//   }
//   80% {
//     opacity: 0.5;
//   }
//   to {
//     opacity: 0;
//   }
// }

// /* cursor animations */

// @keyframes animated-cursor {
//   from {
//     border-right-color: #000;
//   }
//   to {
//     border-right-color: transparent;
//   }
// }
// @keyframes animated-cursor-darkmode {
//   from {
//     border-right-color: #fff;
//   }
//   to {
//     border-right-color: transparent;
//   }
// }

// .footer {
//   background: #ffff;
//   padding: 15px;
//   font-size: 14px;
//   a {
//     text-decoration: none;
//   }
// }

.form-field-large,
.form-field-large .q-field__control {
  height: 100px !important;
}
